h1 {
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 0.3em;
}

.works_index {
    max-width: 1000px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 180px auto 0 auto;
    box-sizing: border-box;
}

.works_index ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.works_index ul li {
    width: 30%;
    max-width: 300px;
}

h2 {
    font-weight: normal;
    font-size: 16px;
    padding: 16px 12px 133px 12px;
}

@media screen and (max-width: 767px) {
    .works_index {
        margin-top: 90px;
        margin-bottom: 100px;
    }

    .works_index ul {
        display: block;
    }

    .works_index ul li {
        width: 100%;
        max-width: fit-content;
    }

    h2 {
        padding: 16px 12px 60px 12px;
    }
}

/* ホバーしたとき */
.works img:hover {
    opacity: 1;
}

.works {
    position: relative;
    display: block;
}

.works::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: rgba(242, 232, 219, 1);
    border-radius: 12px;
    opacity: 0;
    transition: 0.3s;

}

.works::after {
    display: block;
    content: "more..";
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #603813;
    opacity: 0;
    z-index: 3;
    transition: 0.3s;
}

.works:hover:before {
    opacity: 0.4;
}

.works:hover:after {
    opacity: 1;
}

a:hover {
    opacity: 1;
}

h3:hover {
    opacity: 0.5;
}